if TARGET_VERKERK_VIPBOX_III

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "verkerk_vipbox-III"

config SYS_VENDOR
	default "psicontrol"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "verkerk_vipbox-III"

endif
