if TARGET_PETERSIME_IHMI

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "petersime_ihmi"

config SYS_VENDOR
	default "psicontrol"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "petersime_ihmi"

endif
