CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/psicontrol/verkerk_vipbox-III/verkerk_vipbox-III.cfg,MX6S,VERKERK_VIPBOX_III,DDR_MB=1024"
CONFIG_ARM=y
CONFIG_TARGET_VERKERK_VIPBOX_III=y
CONFIG_LOCALVERSION_AUTO=n
CONFIG_LOCALVERSION="15004.0.0.1"
